body, html {
    height: 100%;
    margin: 0;
}

.sidebar-esquerda {
    position: fixed;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar-direita {
    position: fixed;
    right: 0;
    height: 100%;
    width: 200px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    margin-left: 200px;
    padding: 20px;
}

.red-button {
    color: white;
    background-color: red;
    border-radius: 10%;
}